
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages/>

<f:if condition="{filterCategories}">
	<div class="recipe-category {settings.filter.class}" data-parent="RecipeDbList" data-usage="filter-container" data-filter-class="{settings.filter.classFilter}" data-filter-class-active="{settings.filter.classFilterActive}">
		<ul class="recipe-category__list list-inline">
			<li><h3 class="recipe-category__header"><f:translate key="label.recipeCategories" /></h3></li>
			<li class="recipe-category__item"><a href="#" class="recipe-category__item-link btn {settings.filter.classFilterActive}" data-usage="recipe-filter" data-filter="*" data-parent="RecipeDbList"><f:translate key="label.showAll" /></a>
				</li>
			<f:for each="{filterCategories}" key="categoryId" as="filterCategory">
				<li class="recipe-category__item">
					<a href="#" class="recipe-category__item-link btn {settings.filter.classFilter}" title="{filterCategory.title} ({filterCategory.usage})" data-usage="recipe-filter" data-filter="category-filter-{categoryId}" data-parent="RecipeDbList">{filterCategory.title}</a>
				</li>
			</f:for>
		</ul>
	</div>
</f:if>

<div class="recipe-item-list {settings.list.class}" data-usage="recipe-list" data-identifier="RecipeDbList">
	<f:for each="{recipes}" as="recipe">
		<f:render partial="Recipe/ListItem" arguments="{recipe: recipe, settings: settings}" />
	</f:for>
</div>
<div style="display:none;">
	<div id="show-item-template" class="recipe-item-detail col-xs-12">
		<div class="recipe-item-detail__wrp">
		<div class="row">
			<div class="col-sm-6 recipe-item-detail__media">
				<div data-configid="#" class="recipe-item-detail__media-item" data-usage="template-embed"></div>
			</div>
			<div class="col-sm-6 recipe-item-detail__body">
				<a class="recipe-item-detail__body-close-btn close-detail-view" href="#" data-usage="close-detail-view"></a>
				<div class="recipe-item-detail__body-info-wrp">
					<h4 class="recipe-item-detail__body-category-header" data-usage="template-category"></h4>
					<h3 class="recipe-item-detail__body-name" data-usage="template-name"></h3>
					<p class="recipe-item-detail__body-label"><f:translate key="label.description" /></p>
					<p class="recipe-item-detail__body-description" data-usage="template-description"></p>
					<p class="recipe-item-detail__body-label"><f:translate key="label.category" /></p>
					<p class="recipe-item-detail__body-category" data-usage="template-category"></p>
					<a data-usage="template-pdf" href="#" target="_blank" class="recipe-item-detail__body-btn btn btn-default"><f:translate key="label.download" /></a>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>

</f:section>
