:root {
    --pxa-item-list-bg-color: #f9f9f9;
    --pxa-item-list-bg-arrow-color: #f9f9f9;
}

.filtering-list__wrapper {
    padding-bottom: 45px;
}

.filtering-list__wrapper .filter {
    background: var(--pxa-item-list-bg-color);
    padding: 30px 0 50px;
}

.filter-checkbox {
    margin: 10px 0;
}

.filter-checkbox__label {
    position: relative;
    display: inline-block;
    padding-left: 34px;
    padding-top: 4px;
    color: #000;
    font-weight: 300;
    margin: 0;
    cursor: pointer;
}

.filter-checkbox__input {
    display: none;
}

.filter-checkbox__checkbox {
    width: 23px;
    height: 23px;
    background: #fff;
    position: absolute;
    top: 3px;
    left: 0;
    border: 1px solid #e3e3e3;
}

.filter-checkbox__checkbox:before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 6px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.filter-checkbox__input:checked + .filter-checkbox__checkbox:before {
    opacity: 1;
}

.filtering-list__item {
    display: none;
}

.filtering-list__item-wrp {
    text-align: center;
    max-width: 370px;
    margin: auto;
}

.filtering-list__item-img {
    position: relative;
    cursor: pointer;
}

.filtering-list__item-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 42px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'icons' !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 50% 50%;
}

.filtering-list__item-img:hover:after {
    opacity: 1;
}

.filtering-list__item-img img {
    display: block;
    width: 100%;
    height: auto;
}

._item-visible {
    display: block;
}

.filtering-list__item-preview {
    background: var(--pxa-item-list-bg-color);
    display: none;
    position: relative;
    height: 350px;
    margin-top: 28px;
    z-index: 1;
}

.filtering-list__item-preview:before {
    content: '';
    border-bottom: 28px solid var(--pxa-item-list-bg-arrow-color);
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    position: absolute;
    left: 50%;
    top: -28px;
    transform: translateX(-50%);
}

.filtering-list__item-description {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    position: relative;
}

.filtering-list__item-description * {
    color: #000;
}

.filtering-list__item-description .close-preview {
    position: absolute;
    top: -40px;
    right: 15px;
    z-index: 2;
}

.filtering-list__item-description .close-preview:before {
    content: '✕';
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.filtering-list__item-description:before {
    top: 3%;
}

.filtering-list__item-description:after {
    bottom: 3%;
}

.filtering-list__item-description:before, .filtering-list__item-description:after {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    z-index: 2;
}

.item-description__scroll-helper {
    max-height: 100%;
    overflow-y: auto;
}

.filtering-list__item._item-open .filtering-list__item-preview {
    display: flex;
    padding: 50px 0 10px 10px;
    margin-bottom: 50px;
}

.filtering-list__item-wrp h4 {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-description strong {
    font-weight: 700;
}

@media (min-width: 768px) {
    .filtering-list {
        display: flex;
        flex-wrap: wrap;
    }

    .filtering-list__item {
        position: relative;
    }

    .filtering-list__item-wrp {
        max-width: none;
    }

    .filtering-list__item-preview {
        position: absolute;
        bottom: 0;
        left: 12px;
        width: calc(720px - 24px);
        height: 360px;
    }

    .filtering-list__item-media,
    .filtering-list__item-description {
        width: 50%;
        background-origin: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ._item-1 .filtering-list__item-preview:before {
        left: calc(100% / 3 / 2 - 10px);
    }

    ._item-2 .filtering-list__item-preview {
        transform: translateX(calc(-100% / 3 - 10px));
    }

    ._item-2 .filtering-list__item-preview:before {
        left: 50%;
    }

    ._item-3 .filtering-list__item-preview {
        transform: translateX(calc(-100% / 1.5 - 20px));
    }

    ._item-3 .filtering-list__item-preview:before {
        left: calc(100% - (100% / 3 / 2) + 10px);
    }

    .filtering-list__item._item-open {
        height: 670px;
    }

    .filtering-list__item._item-open .filtering-list__item-preview {
        display: flex;
        padding: 50px 0 50px 50px;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .filtering-list__item-preview {
        width: calc(960px - 24px);
        height: 470px;
    }

    .filtering-list__item._item-open {
        height: 850px;
    }

    .filtering-list__item-description {
        padding: 15px 40px;
    }

    .filtering-list__item-description .close-preview {
        top: -40px;
        right: 15px;
    }

    .filtering-list__item-description:before {
        top: 5%;
    }

    .filtering-list__item-description:after {
        bottom: 5%;
    }
}

@media (min-width: 1200px) {
    .filtering-list__item-preview {
        width: calc(1140px - 24px);
        height: 520px;
    }

    .filtering-list__item._item-open {
        height: 960px;
    }

    .filtering-list__item-description {
        padding: 0 15px 15px 75px;
    }
}

@media (min-width: 1400px) {
    .filtering-list__item-preview {
        width: calc(1320px - 24px);
    }

    .filtering-list__item._item-open {
        height: 1020px;
    }
}

