
<table class="tx-pxa-recipe-db" >
	<tr>
		<td>
			<f:translate key="tx_pxarecipedb_domain_model_recipe.name" />
		</td>
		<td>
		{recipe.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxarecipedb_domain_model_recipe.description" />
		</td>
		<td>
		{recipe.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxarecipedb_domain_model_recipe.image" />
		</td>
		<td>
				<f:image src="{recipe.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxarecipedb_domain_model_recipe.pdf" />
		</td>
		<td>
				<a href="{recipe.pdf.originalResource.publicUrl}">
					{recipe.pdf.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxarecipedb_domain_model_recipe.issuu_config_id" />
		</td>
		<td>
		{recipe.issuuConfigId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxarecipedb_domain_model_recipe.date" />
		</td>
		<td>
		{recipe.date -> f:format.date()}
		</td>
	</tr>
</table>