<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaItemList/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="filter">
    <div class="container">
        <div class="row">
            <f:for each="{filterCategories}" as="filterCategory" iteration="ii">
                <f:if condition="{filterCategory.subCategories}">
                    <div class="{settings.filter.columnClassPrefix}{filterCategory.parentGridClassValue}">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{filterCategory.category.title}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="{settings.filter.columnClassPrefix}{filterCategory.subGridClassValue}">
                                <f:for each="{filterCategory.subCategories}" as="subCategory" iteration="i">
                                    <f:if condition="{pxa:isNewColumn(index: i.index, maxColumnItem: settings.filter.maxColumnItem)}">
                                        <f:render section="openCloseColumn"
                                                  arguments="{subGridClassValue: filterCategory.subGridClassValue}"/>
                                    </f:if>
                                    <div class="filter-checkbox">
                                        <label class="filter-checkbox__label">
                                            <input class="filter-checkbox__input js__filter-checkbox__input"
                                                type="checkbox" value="{subCategory.uid}">
                                            <div class="filter-checkbox__checkbox"></div>
                                            {subCategory.title}
                                        </label>
                                    </div>
                                </f:for>
                            </div>
                        </div>
                    </div>
                </f:if>
            </f:for>
        </div>
    </div>
</div>

<f:section name="openCloseColumn">
</div><div class="{settings.filter.columnClassPrefix}{subGridClassValue}">
</f:section>
</html>
