<div class="container">
    <div class="filtering-list">
        <f:for each="{items}" as="item" iteration="i">
            <div class="filtering-list__item _item-visible js__filtering-list__item"
                 data-categories="{item.categoriesUidList}">
                <div class="filtering-list__item-wrp js__filtering-list__item-target">
                    <div class="filtering-list__item-img">
                        <f:render section="imagePreview" arguments="{item: item}"/>
                    </div>
                    <h4>{item.name}</h4>
                </div>
                <div class="filtering-list__item-preview">
                    <div class="filtering-list__item-media"
                         style="background-image:url({f:render(partial: 'Item/ListItemLargeImageUrl', arguments: '{item: item}')})"></div>
                    <div class="filtering-list__item-description">
                        <div class="close-preview js__close-preview"></div>
                        <div class="item-description__scroll-helper">
                            <div class="underline-heading">
                                <h2 class="item-description__header">{item.name}</h2>
                            </div>
                            <p>
                                <strong>
                                    <f:translate key="tx_pxaitemlist_domain_model_item.categories"/>
                                    :
                                </strong>
                                &nbsp;{item.categoriesTitleList}
                            </p>
                            <p>
                                <strong>
                                    <f:translate key="tx_pxaitemlist_domain_model_item.customer"/>
                                    :
                                </strong>
                                &nbsp;{item.customer}
                            </p>
                            <p>
                                <strong>
                                    <f:translate key="tx_pxaitemlist_domain_model_item.product_choice"/>
                                    :
                                </strong>
                                &nbsp;{item.productChoice}
                            </p>
                            <p>
                                <strong>
                                    <f:translate key="tx_pxaitemlist_domain_model_item.architect"/>
                                    :
                                </strong>
                                &nbsp;{item.architect}
                            </p>
                            <p>
                                <strong>
                                    <f:translate key="tx_pxaitemlist_domain_model_item.consultant"/>
                                    :
                                </strong>
                                &nbsp;{item.consultant}
                            </p>
                            <p>
                                <strong>
                                    <f:translate key="tx_pxaitemlist_domain_model_item.installer"/>
                                    :
                                </strong>
                                &nbsp;{item.installer}
                            </p>
                            <p>
                                <strong>
                                    <f:translate key="tx_pxaitemlist_domain_model_item.description"/>
                                    :
                                </strong>
                                &nbsp;{item.description}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</div>

<f:section name="imagePreview">
    <f:if condition="{item.image}">
        <f:then>
            <f:image src="{item.image.uid}" treatIdAsReference="1" alt="{item.image.originalResource.title}"
                     width="{settings.list.item.image.width}" height="{settings.list.item.image.height}"/>
        </f:then>
        <f:else>
            <f:image src="{settings.list.item.image.no-image}" alt="{item.image.originalResource.title}"
                     width="{settings.list.item.image.width}" height="{settings.list.item.image.height}"/>
        </f:else>
    </f:if>
</f:section>
