<!--Invisible template for detail view-->
<div id="preview-template">
    <div class="container-fluid">
        <div class="row item-item-preview">
            <div class="col-xs-12 col-sm-6 preview-img">
                <!--Image-->
            </div>
            <div class="col-xs-12 col-sm-6 preview-detail">
                <div class="main-description-area">
                    <div class="swiper-slide">
                        <h3 class="item-name text-center"></h3>
                        <dl class="preview-info">
                            <dt><f:translate key="tx_pxaitemlist_domain_model_item.categories" />:&nbsp;</dt>
                            <dd><span class="item-categories"></span></dd>
                            <dt><f:translate key="tx_pxaitemlist_domain_model_item.customer" />:&nbsp;</dt>
                            <dd><span class="item-customer"></span></dd>
                            <dt><f:translate key="tx_pxaitemlist_domain_model_item.product_choice" />:&nbsp;</dt>
                            <dd><span class="item-product_choice"></span></dd>
                            <dt><f:translate key="tx_pxaitemlist_domain_model_item.architect" />:&nbsp;</dt>
                            <dd><span class="item-architect"></span></dd>
                            <dt><f:translate key="tx_pxaitemlist_domain_model_item.consultant" />:&nbsp;</dt>
                            <dd><span class="item-consultant"></span></dd>
                            <dt><f:translate key="tx_pxaitemlist_domain_model_item.installer" />:&nbsp;</dt>
                            <dd><span class="item-installer"></span></dd>
                            <dt><f:translate key="tx_pxaitemlist_domain_model_item.description" />:&nbsp;</dt>
                            <dd><span class="item-description"></span></dd>
                        </dl>
                        <a data-usage="template-pdf" href="#" target="_blank" class="item-item-preview__body-btn btn btn-default"><f:translate key="label.download" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>