
<table class="tx-pxa-item-list" >
	<tr>
		<td>
			<f:translate key="tx_pxaitemlist_domain_model_item.name" />
		</td>
		<td>
		{item.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaitemlist_domain_model_item.description" />
		</td>
		<td>
		{item.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaitemlist_domain_model_item.image" />
		</td>
		<td>
				<f:image src="{item.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaitemlist_domain_model_item.pdf" />
		</td>
		<td>
				<a href="{item.pdf.originalResource.publicUrl}">
					{item.pdf.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaitemlist_domain_model_item.issuu_config_id" />
		</td>
		<td>
		{item.issuuConfigId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaitemlist_domain_model_item.date" />
		</td>
		<td>
		{item.date -> f:format.date()}
		</td>
	</tr>
</table>